body {
	padding: 0px !important;
}

nav {
	/*background-color: rgba(18,11,71,0.9) !important;*/
	/*box-shadow: none !important;*/
}

.side-nav .collapsible>li {
	padding-right: 0rem;
	padding-left: 0rem;
}

.upcoming-event {
	background: url("../img/tree.jpg");
	background-attachment: fixed;
	background-repeat: no-repeat; background-size: cover;
	background-position: center center;
}

.big-text {
	font-size: 50px;
}

.rounded{
	border-radius: 10px !important;
}

.custom-button {
	color: #363636;
	padding: 5px 7px;
	background-color: white;
	border-radius: 5px;
	border: solid #363636 1px;
	transition: color ease 0.5s, background-color ease 0.5s;
}

.custom-button:hover {
	color: white !important;
	background-color: #363636;
}

.service-card {
	transition: background-color .5s ease, color .5s ease;
	background-color: #eff;
	border: solid 1px #ddd;
}

.service-card:hover {
	background-color: #ddd !important;
	color: white !important;
}

.hide {
	display: none;
}

@media only screen and (max-width: 1000px) {
	.large {
		display: none !important;
	}

	.modal-right {
		margin: 0px;
	}
}

@media only screen and (min-width: 1000px) {
	.small {
		display: none !important;
	}

	.nav-item {
		padding-top: 12px;
	}
}
